.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

md-toolbar.md-short {
    height: 44px;
    min-height: 44px;
    max-height: 44px;
}

md-toolbar.md-short .md-toolbar-tools {
    height: 44px;
    min-height: 44px;
    max-height: 44px;
    font-size: 16px;
}
